:root {
    --dark: #0D1B1E;
    --gold: #D4AF37;
    --light: #faefe1;
    --green: #0A5C36;
    --black-green: #073f25;
    --gray: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--dark);
    color: white;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
}

/* Навигация */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: rgba(13, 27, 30, 0.9);
    position: fixed;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(5px);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--gold);
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.nav-links li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 4px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--gold);
}

/* Прогресс-бар под пунктом */
.progress-bar {
    width: 60px;
    height: 3px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: var(--gold);
    width: 0%;
    transition: width 0.1s linear;
    box-shadow: 0 0 10px #977e29;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--gold);
}

/* Главный экран */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/hero-bg.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.hero h1 {
    font-size: 3.5rem;
    color: var(--gold);
}

.hero p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.cta-buttons {
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    margin: 0 0.5rem;
    background: var(--gold);
    color: var(--dark);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--gold);
    color: white;
}

.btn:hover {
    transform: scale(1.05);
}

/* Секции */
.section {
    min-height: 100vh;
    padding: 5rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.numone {
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section h2, h1 {
    font-size: 2.5rem;
    color: var(--gold);
    text-align: center;
}

.section-one {
    background-color: var(--dark);
}

.section-two {
    background-color: var(--dark);
}

h1 {
    font-size: 10rem;
}

strong {
    color: var(--gold);
    text-shadow: #977e29 1px 0 10px;
}

/* Показатели */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.stat {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Видео */
.video-container {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
}

video {
    width: 100%;
}

/* Продукция — слайдер */
.product-slider {
    width: 100%;
    height: 43rem;
    max-width: 1000px;
    position: relative;
    margin-bottom: 2rem;
}

.swiper-slide {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.product-img {
    margin-top: 25vh;
    width: 30%;
    height: 45%;
    object-fit: contain;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.8s ease-out;
}

.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background: #0d1b1eab;
    color: #ccc;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.7s ease-out 0.1s;
    color: #ccc;
    font-size: 0.8rem;
    line-height: 1.4;
    text-align: left;
}
.product-info-2 {
    position: absolute;
    bottom: 0;
    left: 65%;
    width: 35%;
    height: 100%;
    background: #0d1b1eab;
    color: #ccc;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.7s ease-out 0.1s; /* Задержка 0.1с */
    color: #ccc;
    font-size: 0.8rem;
    line-height: 1.4;
    text-align: right;
}

.product-info-3 {
    position: absolute;
    padding-top: 20%;
    bottom: 12.5%;
    left: 40%;
    width: 20%;
    height: 10%;
    background: #0d1b1ebd;
    color: #ccc;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.7s ease-out 0.1s;
    color: #ccc;
    font-size: 0.8em;
    line-height: 1.6;
    text-align: center;
    z-index: 0;
    backdrop-filter: blur(5px);
} 

.product-info h3 {
    margin: 0;
    font-size: 1.4rem;
}

.product-desc {
    opacity: 1;
}
/* 
.swiper-slide:hover .product-desc {
    opacity: 1;
    transform: translateY(0);
} */

.swiper-pagination-bullet {
    background: var(--gold);
}

/* Кнопка каталога */
.btn-download {
    margin-top: 2rem;
    background: var(--green);
    color: white;
}

/* Команда */
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    width: 90%;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.investors {
    margin-top: 2rem;
    font-style: italic;
    max-width: 800px;
    text-align: center;
}

/* Контакты */
.contact-info {
    text-align: center;
    max-width: 600px;
}

.contact-info a {
    color: var(--gold);
    text-decoration: none;
}

.map-container {
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 500px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 0.8rem;
    border: 1px solid #444;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

#mobileHeader {
    display: none;
}

#louis-img {
    background: radial-gradient(#8a6222, #6e1c2905, #6e1c2900);
}

.louis {
    color: #8a6222;
    text-shadow: #977e29 1px 0 10px;
}

#diplomat-img {
    background: radial-gradient(#c88d31, #CC994405, #CC994400);
}

.diplomat {
    color: #c88d31;
    text-shadow: #b8822c 1px 0 10px;
}

#green-label-img {
    background: radial-gradient(#144E35, #067B4705, #067B4700);
}

.green-label {
    color: #1d724d;
    text-shadow: #12442e 1px 0 10px;
}

#honey-bee-img {
    background: radial-gradient(#6b2731, #7D1A2A05, #7D1A2A00);
}

.bee {
    color: #943544;
    text-shadow: #501d24 1px 0 10px;
}

#blue-riband-img {
    background: radial-gradient(#32315C, #494B9005, #494B9000);
}

.riband {
    color: #464585;
    text-shadow: #262647 1px 0 10px;
}

#white-mischief-img {
    background: radial-gradient(#3a5cca, #5272DD05, #5272DD00);
}

.mischief {
    color: #3a5cca;
    text-shadow: #2d479c 1px 0 10px;
}

#oldtavern-img {
    background: radial-gradient(#e8bd57, #e8bd5700, #e8bd5700);
}

.oldtavern {
    color: #e8bd57;
    text-shadow: #c5a04a 1px 0 10px;
}

#oldcask-img {
    background: radial-gradient(#e8c36a, #e8c36a00, #e8c36a00);
}

.oldcask {
    color: #e8c36a;
    text-shadow: #bd9e56 1px 0 10px;
}

#main-img {
    object-fit: contain;
    transform: translateY(8em);
    width: 50%;
    z-index: -99;
}

.text-section-two {
    color: black;
}

.swiper-slide-active .product-img,
.swiper-slide-active .product-info,
.swiper-slide-active .product-info-2,
.swiper-slide-active .product-info-3 {
  opacity: 1;
  transform: translateY(0);
}


.swiper-slide-prev .product-img,
.swiper-slide-next .product-img,
.swiper-slide-prev .product-info,
.swiper-slide-next .product-info,
.swiper-slide-prev .product-info-2,
.swiper-slide-next .product-info-2,
.swiper-slide-prev .product-info-3,
.swiper-slide-next .product-info-3 {
  opacity: 0;
  transform: translateY(50px);
}

.swiper-button-next,
.swiper-button-prev {
    padding-top: 15rem;
    color: var(--gold);
}

#logo-img {
    width: 10rem;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: var(--dark);
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 1rem;
        gap: 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .progress-bar {
        width: 50px;
        height: 2px;
    }

    #logo-img {
        width: 5.5rem;
    }

    #mobileHeader {
        display: block;
        margin-left: 25%;
        align-items: flex-end;
    }

    .product-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35%;
        height: 100%;
        background: #0d1b1eab;
        color: #ccc;
        padding: 1rem;
        border-radius: 10px 10px 10px 10px;
        opacity: 0;
        transform: translateY(-50px);
        transition: all 0.7s ease-out 0.1s;
        color: #ccc;
        font-size: 2.5vw;
        line-height: 1.4;
        text-align: left;
    }
    .product-info-2 {
        position: absolute;
        bottom: 0;
        left: 65%;
        width: 35%;
        height: 100%;
        background: #0d1b1eab;
        color: #ccc;
        padding: 1rem;
        border-radius: 10px 10px 10px 10px;
        opacity: 0;
        transform: translateY(-50px);
        transition: all 0.7s ease-out 0.1s; /* Задержка 0.1с */
        color: #ccc;
        font-size: 2.5vw;
        line-height: 1.4;
        text-align: right;
    }
}